<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>

<body>
    <h1>Listas</h1>

    <h2>Listas ordenadas</h2>

    <h3>Paises Favoritos</h3>
    <ol start="3">
        <li>México</li>
        <li>Croacia</li>
        <li>Singapur</li>
        <li>Alemania</li>
        <li>Japón</li>
    </ol>

    <h3>Comida</h3>

    <ol type="I">
        <li>Tacos</li>
        <li>Tortas</li>
        <li>Mole</li>
        <li>Pozol</li>
        <li>Tostadas</li>
    </ol>

    <h2>Listas sin orden</h2>

    <h3>Colores</h3>
    <ul>
        <li>Rojo</li>
        <li>Blanco</li>
        <li>Azul</li>
        <li>Verde</li>
        <li>Naranja</li>
    </ul>

    <h3>Figuras</h3>

    <ul type="disc">
        <li>Circulo</li>
        <li>Cuadrado</li>
        <li>Rectangulo</li>
        <li>Pentagono</li>
        <li>Hexagono</li>
    </ul>

    <dl>
        <dt>ONU</dt>
        <dd>Organización de las Naciones unidas</dd>

        <dt>UTSV</dt>
        <dd>Universidad Tecnologica del Sureste de Veracruz</dd>

        <dt>HTTP</dt>
        <dd>Hypertext Transfer Protocol</dd>

        <dt>FTP</dt>
        <dd>File Transfer Protocol</dd>
    </dl>
</body>

</html>