<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenedores</title>
</head>

<body>
    <h1>Contenedores</h1>

    <div style="background-color: aqua; color: #fff;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, voluptatibus.</p>
    </div>

    <div style="background-color: black; color: #fff;">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat odit ad repellat, ut suscipit, iure quam
            reiciendis cumque dignissimos, impedit aut quos voluptate repudiandae dicta neque aspernatur dolore. Libero
            vitae consequuntur pariatur omnis voluptas. Vero tempora, quam magni nobis nihil tempore doloremque ratione
            dolore aut vitae eligendi sed, voluptatem earum.</p>
    </div>
</body>

</html>