<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas</title>
</head>

<body>
    <h1>Tablas</h1>

    <table border="1">
        <caption>Horario de clases</caption>
        <thead>
            <th>Horario</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </thead>
        <tbody>
            <tr>
                <td>07:00 - 07:50</td>
                <td>Calculo diferencial</td>
                <td>Aplicaciones Web</td>
                <td>Aplicaciones Web</td>
                <td>Calculo Diferencial</td>

                <!-- <td>08:40 - 09:30</td>
                
                
                
                
                -->
            </tr>

            <tr>
                <td>07:50 - 08:40</td>
                <td>Calculo diferencial</td>
                <td>Aplicaciones Web</td>
                <td>Aplicaciones Web</td>
                <td>Calculo diferencial</td>
                <td>Aplicaciones Web</td>
            </tr>
            <tr>
                <td>09:30 - 10:20</td>
                <td>Probabilidad y estadistica</td>
                <td>Base de datos para Aplicaciones</td>
                <td>Integradora 1</td>
                <td>Probabilidad y estadistica</td>
                <td>Aplicaciones Web</td>
            </tr>
            <tr>
                <td>09:30 - 10:20</td>
                <td>Probabilidad y estadistica</td>
                <td>Base de datos para Aplicaciones</td>
                <td>Integradora 1</td>
                <td>Probabilidad y estadistica</td>
                <td>Sistemas Operativos</td>
            </tr>
            <tr>
                <td>10:20 - 11:10</td>
                <td>Probabilidad y estadistica</td>
                <td>Base de datos para Aplicaciones</td>
                <td>Base de datos para Aplicaciones</td>
                <td>Base de datos para Aplicaciones</td>
                <td>Sistemas Operativos</td>
            </tr>
            <tr>
                <td>11:10 - 12:00</td>
                <td>Sistemas Operativos</td>
                <td>Formación sociocultural 3</td>
                <td>Base de datos para Aplicaciones</td>
                <td>Base de datos para Aplicaciones</td>
                <td>Sistemas Operativos</td>
            </tr>
            <tr>
                <td>12:00 - 12:50</td>
                <td>Sistemas Operativos</td>
                <td>Tutoria</td>
                <td>Base de datos para Aplicaciones</td>
                <td></td>
                <td>ingles 3</td>
            </tr>
            <tr>
                <td>12:50 - 01:40</td>
                <td>Ingles 3</td>
                <td>ISngles 3</td>
                <td></td>
                <td></td>
                <td>Ingles 3</td>
            </tr>
        </tbody>
        <tfoot></tfoot>

        <br />

        <table border="1">
            <thead>
                <th>Materia</th>
                <th>Docente</th>
                <th>Horas/Sem</th>
            </thead>
            <tbody>
                <tr>
                    <td>Calculo diferencial</td>
                    <td>Mtro. Daniel Morales Martínez</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Probabilidad y estadistica</td>
                    <td>Ing. Luis Alejandro Chi Garcia</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Sistemas Operativos</td>
                    <td>Mtro. Isaias Gallegos Salvador</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Integradora</td>
                    <td>Mtra. Eunice Morales Reyes</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Aplicaciones Web</td>
                    <td>Ing. Antonio Gilbon Aburto</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Base de datos para Aplicaciones</td>
                    <td>Mtra. Luz Alondra Katt Morales</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>Ingles 3</td>
                    <td>Mtra. Maria Guadalupe Martínez Caamaño</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Formación sociocultural 3</td>
                    <td>Lic. </td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Tutoria</td>
                    <td>Ing. Rogelio Vasquez Hernandez</td>
                    <td>1</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align: right;">Total</td>
                    <td>36</td>
                </tr>
            </tfoot>
        </table>
    </table>
</body>

</html>